@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow: hidden;
}
.tooltip {

    background-color: rgba(221,221,221,0.9) !important;/* #8CD7F5를 불투명한 색상으로 적용 */

    color: #333 !important;
    border: none;
    border-radius: 15px !important; /* 둥근 모서리 */
    font-size: 0.95em !important; /* 글자 크기 */
    padding: 9px !important; /* 내부 여백 */
    font-weight:600 !important;
  }
  