@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow: hidden;
}

.arrow{
    display: none !important;
}

.tooltip {
    background-color: #003FCB !important;
    border: none;
    border-radius: 7px !important;
    font-size: 0.95em !important;
    padding: 8px !important;
    font-weight:500 !important;
}
  